<mat-card class="" style="border-radius: 10px;">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <span>Trends for you</span>
      <span class="example-spacer"></span>
      <mat-icon style="color: silver">settings</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="my-2" role="listitem">
      <div class="mt-2">
        <span>#ecommerce</span><br>
        <span style="color: silver;">72.2K Tweets</span>
      </div>
      <span class="example-spacer"></span>
      <mat-icon style="color: silver">expand_more</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="my-2" role="listitem">
      <div class="mt-2">
        <span>#apple</span><br>
        <span style="color: silver;">12.6K Tweets</span>
      </div>
      <span class="example-spacer"></span>
      <mat-icon style="color: silver">expand_more</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="my-2" role="listitem">
      <div class="mt-2">
        <span>#music</span><br>
        <span style="color: silver;">22K Tweets</span>
      </div>
      <span class="example-spacer"></span>
      <mat-icon style="color: silver">expand_more</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="my-2" role="listitem">
      <div class="mt-2">
        <span>#rasekh</span><br>
        <span style="color: silver;">5K Tweets</span>
      </div>
      <span class="example-spacer"></span>
      <mat-icon style="color: silver">expand_more</mat-icon>
    </mat-list-item>
  </mat-list>
  <div class="text-center">
    <span style="color: silver;">SEE MORE</span>
  </div>
</mat-card>
