<div class="">
  <img

    src="../assets/images/banner.jpg"
    mat-card-image
    style="height: 280px; width: 100%;margin: 0;"
  />
  <div class="row no-gutters justify-content-center XLSCREEN" style="margin-top: -80px;">
    <div class="col-12 col-md-6 col-lg-3 p-2 ">
      <app-first-col></app-first-col>
    </div>
    <div class="col-12 col-md-6 col-lg-5  p-2">
      <app-second-col></app-second-col>
    </div>
    <div class="col-12 col-md-6 col-lg-3  p-2 ">
      <app-third-col></app-third-col>
    </div>
  </div>
</div>
