<img   width="50px" class="mx-2 mt-2" src="../assets/images/twitter-logo.png" alt="">
<div class="mt-5"></div>
<mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="/" class="">
    <mat-icon  style="color: #d4dbe0;">home</mat-icon>
    <span class="mx-2">Home</span>
  </a>
  <a mat-list-item routerLink="/" >
    <mat-icon class="" style="color: #d4dbe0;">explore</mat-icon>
    <span class="mx-2">Explore</span>
  </a>
  <a mat-list-item routerLink="/" >
    <mat-icon class="" style="color: #d4dbe0;">notifications</mat-icon>
    <span class="mx-2">Notifications</span>
  </a>
  <a mat-list-item routerLink="/" >
    <mat-icon class="" style="color: #d4dbe0;">email</mat-icon>
    <span class="mx-2">Messages</span>
  </a>
  <a mat-list-item routerLink="/" >
    <mat-icon class="" style="color: #d4dbe0;">bookmark</mat-icon>
    <span class="mx-2">Bookmarks</span>
  </a>
  <a mat-list-item routerLink="/" >
    <mat-icon class="" style="color: #d4dbe0;">list_alt</mat-icon>
    <span class="mx-2">Lists</span>
  </a>
  <a mat-list-item routerLink="/" style="border-right: solid; border-color: #1ca1f1;">
    <mat-icon class=""  color="primary">person</mat-icon>
    <span class="mx-2" style="color: #1ca1f1;">Profile</span>
  </a>
  <a mat-list-item routerLink="/" >
    <mat-icon class="" style="color: #d4dbe0;">more_horiz</mat-icon>
    <span class="mx-2">More</span>
  </a>
</mat-nav-list>
