<mat-card style="border-radius: 10px;">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Tweets"></mat-tab>
    <mat-tab label="Tweets & Retweets"></mat-tab>
    <mat-tab label="Media"></mat-tab>
    <mat-tab label="Likes"></mat-tab>
  </mat-tab-group>

  <div class="row mt-4">
    <div class="col-1 ">
      <img src="../../../assets/images/portrait.jpg"  mat-card-avatar>
    </div>
    <div class="col-11">
      <div class="border p-2" style="border-radius: 10px;">
        <div>
          <span style="color: silver;">
            <mat-icon>cached</mat-icon>
            Leonardo Retweeted
          </span>
        </div>
        <div class="mt-2 d-flex justify-content-between">
          <div>
            <span class="mx-2 ">John Ramsey</span>
            <span class="mx-2"><mat-icon color="primary">verified</mat-icon></span>
            <span class="mx-2" style="color: silver;">@john_ram</span>
          </div>
          <div>
            <span><mat-icon>schedule</mat-icon></span>
            <span>35 Min</span>
          </div>
        </div>

        <div class="mt-4">
          <p>Very good words...</p>
        </div>

        <app-retweet></app-retweet>

        <div class="row mt-3 text-center">
          <div class="col-3">
            <mat-icon>chat_bubble</mat-icon>
            <span>32</span>
          </div>
          <div class="col-3">
            <mat-icon>cached</mat-icon>
            <span>33</span>
          </div>
          <div class="col-3">
            <mat-icon>favorite</mat-icon>
            <span>100</span>
          </div>
          <div class="col-3">
            <mat-icon>redo</mat-icon>
            <span>62</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-1 ">
      <img src="../../../assets/images/portrait.jpg"  mat-card-avatar>
    </div>
    <div class="col-11">
      <div class="border p-2" style="border-radius: 10px;">
        <div>
          <span style="color: silver;">
            <mat-icon>cached</mat-icon>
            Leonardo Retweeted
          </span>
        </div>
        <div class="mt-2 d-flex justify-content-between">
          <div>
            <span class="mx-2 ">John Ramsey</span>
            <span class="mx-2"><mat-icon color="primary">verified</mat-icon></span>
            <span class="mx-2" style="color: silver;">@john_ram</span>
          </div>
          <div>
            <span><mat-icon>schedule</mat-icon></span>
            <span>35 Min</span>
          </div>
        </div>

        <div class="mt-4">
          <p>Best views from vacations</p>
        </div>

        <div class="row no-gutters text-center">
          <div class="col-4 ">
            <img style="border-radius: 10px;" width="180px" src="../../../assets/images/banner.jpg" >
          </div>
          <div class="col-4 ">
            <img style="border-radius: 10px;" width="180px" src="../../../assets/images/banner.jpg" >
          </div>
          <div class="col-4 ">
            <img style="border-radius: 10px;" width="180px" src="../../../assets/images/banner.jpg" >
          </div>
        </div>


        <div class="row mt-3 text-center">
          <div class="col-3">
            <mat-icon>chat_bubble</mat-icon>
            <span>32</span>
          </div>
          <div class="col-3">
            <mat-icon>cached</mat-icon>
            <span>33</span>
          </div>
          <div class="col-3">
            <mat-icon>favorite</mat-icon>
            <span>100</span>
          </div>
          <div class="col-3">
            <mat-icon>redo</mat-icon>
            <span>62</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
