<mat-card style="border-radius: 10px;" >
  <div class="text-center">
    <img src="../../assets/images/portrait.jpg" mat-card-avatar>
    <mat-card-title class="mt-2">John Ramsey</mat-card-title>
    <mat-card-subtitle>@john_ram</mat-card-subtitle>
    <span class="mt-2">
      <mat-icon>place</mat-icon>
      Los Angles
      <mat-icon>public</mat-icon>
    </span>
    <p class="mt-2">
      Multidiciplinery Photographer focused on travel and natural content
    </p>
  </div>
  <div class="row">
    <div class="col-4 text-center">
      <p>Tweets</p>
      <p>4.2K</p>
    </div>
    <div class="col-4 text-center">
      <p>Followers</p>
      <p>847</p>
    </div>
    <div class="col-4 text-center">
      <p>Followings</p>
      <p>3.2K</p>
    </div>
  </div>
</mat-card>
<div class="row mt-3">
  <div class="col-6 mb-3 mr-3">
    <div style="background-color: white;height: 100%; border-radius: 10px;" class="text-center">
      <mat-icon class="mt-4">visibility</mat-icon>
      <p>Activity</p>
    </div>
  </div>
  <div class="col-6 ml-3 mb-3">
    <div class="border text-center" style="border-radius: 10px;">
      <mat-icon class="mt-4">flash_on</mat-icon>
      <p>Moments</p>
    </div>
  </div>
  <div class="col-6 mr-3 ">
    <div class="border text-center" style="border-radius: 10px;">
      <mat-icon class="mt-4">group</mat-icon>
      <p>Friends</p>
    </div>
  </div>
  <div class="col-6 ml-3">
    <div class="border text-center" style="border-radius: 10px;">
      <mat-icon class="mt-4">settings</mat-icon>
      <p>Edit Profile</p>
    </div>
  </div>
</div>
