<div class="border p-2" style="border-radius: 10px;">
  <div class="d-flex justify-content-between">
    <div>
      <img src="../../../../assets/images/portrait.jpg" class="mx-2 " mat-card-avatar>
      <span class="mx-2 ">Teodor Roosevelt</span>
      <span class="mx-2 " style="color: silver;">@president_resevelt</span>
    </div>
    <div>
      <span><mat-icon>schedule</mat-icon></span>
      <span>Hour</span>
    </div>
  </div>
  <div class="mt-4">
    <p>In this moment od history this is the most valuable thing ..</p>
  </div>
</div>
